<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title class="bg-info">Add Employee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .card {
            background-color: #585858;
            color: white;
        }

        .card-header {
            background-color: #6f42c1;
        }
    </style>
</head>

<body>
    <div class="container-fluid my-5">
        <div class="row">
            {% include 'menu.html' %}

            <div class="col-md-9">
                <div class="card mx-auto w-50">
                    <div class="card-header">
                        <h1 class="card-title text-center">Add Employee</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.fullname.id_for_label }}">Full Name:</label>
                                {{ form.fullname }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.birthdate.id_for_label }}">Birthdate:</label>
                                {{ form.birthdate }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.salary.id_for_label }}">Salary:</label>
                                {{ form.salary }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.jobid.id_for_label }}">Job:</label>
                                {{ form.jobid }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (if not already included) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        // JavaScript to disable autocomplete for Full Name field
        document.addEventListener('DOMContentLoaded', function() {
            var fullnameInput = document.querySelector('input[name="fullname"]');
            if (fullnameInput) {
                fullnameInput.setAttribute('autocomplete', 'off');
            }
        });
    </script>

</body>

</html>
